.TransitionSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: var(--bg-color);
}

@media (prefers-reduced-motion: no-preference) {
	.TransitionSpinner .spinner {
		animation: Home-logo-spin infinite 2s linear;
	}
}